.about-mainbg {
    background: #E7EFFD;
}


.about_mainCard {
    display: flex;
    justify-content: center;
    align-items: self-start;
    height: 100%;
    flex-direction: column;

    span {
        height: 40px;
        padding: 7px 30px;
        gap: 10px;
        background: linear-gradient(90deg, #233F77 0%, #1C8AC9 50%, #8CBE41 100%);
        color: #fff;
        border-radius: 10px;
    }

    h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 36.8px;
        text-align: left;
        color: #233F77;
        width: 560px;
        height: 74px;
        margin: 13px 0px;
    }

    p {
        font-size: 12px;
        font-weight: 400;
        line-height: 15.6px;
        text-align: left;
        color: #233F77;
        width: 560px;
        height: 64px;
    }

}

.about-cardImg {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 400px;
    }

}