.career-banner {
    background-image: url("../../../public/assets/services-banner.jpg");
    height: 350px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 45px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

.career-card {
    padding: 60px;
}