.contact-mainBg {
  height: 90vh;
  background: #EEF9FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    height: 40px;
    padding: 7px 30px;
    gap: 10px;
    background: linear-gradient(90deg, #233F77 0%, #1C8AC9 50%, #8CBE41 100%);
    color: #fff;
    border-radius: 10px;
  }

  h1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 62.1px;
    text-align: center;
    width: 654px;
    height: 124px;
    color: #233F77;

  }

  h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30.48px;
    text-align: center;
    width: 500px;
    height: 60px;
    color: #233F77;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.32px;
    text-align: center;
    width: 654px;
    height: 60px;
    color: #233F77;
  }

}


.contact-form-mainbg {
  padding: 70px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-inputBg {
  background: #E7EFFD;
}

.contact-imageCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;

  img {
    width: 80%;
  }
}

.contact-form-container {
  box-shadow: -5px 5px 10px 0px #0000000D;
  width: 50%;
  padding: 48px;
  gap: 32px;
  border-radius: 32px;
  background: #C9DFF4BF;
}

.contact-contInp {
  margin-bottom: 20px;

  span {
    height: 40px;
    padding: 7px 30px;
    gap: 10px;
    background: linear-gradient(90deg, #233F77 0%, #1C8AC9 50%, #8CBE41 100%);
    color: #fff;
    border-radius: 10px;
  }

  h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 36.8px;
    text-align: left;
    width: 558px;
    height: 37px;
    color: #233F77;
    margin-top: 14px;
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: left;
    width: 560px;
    height: 21px;
    color: #233F77;
  }

}

.form-mainCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.form-group {
  margin-bottom: 15px;
  width: 47%;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 10px;
  background: #233F774D;
  color: #ffffff;

}

.form-group select {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 10px;
  background: #233F774D;
  color: #ced9e8;
}

.select_bg {
  background-color: #1C8AC9;
  color: #fff;
}

input:focus {
  outline: none;
  border: none;
}

input::placeholder {
  color: #ced9e8;
}

textarea:focus {
  outline: none;
  border: none;
}

textarea::placeholder {
  color: #ced9e8;
}

.form-group-message {
  width: 100%;
  display: flex;
  flex-direction: column;

  label {
    font-size: 16px;
    font-weight: 600;
    line-height: 18.4px;
    text-align: left;
    width: 270px;
    height: 18px;
    color: #233F77;
    margin-bottom: 11px;
  }

  textarea {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 10px;
    background: #233F774D;
    color: #fff;
  }

}

.form-sub-btn {
  width: 147.5px;
  height: 32px;
  padding: 0px 10p;
  gap: 10px;
  border-radius: 8px;
  background: #1C8AC9;
  color: #fff;
  border: none;
  margin-top: 30px;
}

.form-sub-btn{
  background-size: 200%; /* Prepares for the gradient transition */
  
  background-position: right; /* Position gradient off the view */
  color: white; /* Optional: Adjust text color */
  transition: background-position 1.2s ease, background-color 1.2s ease; /* Smooth animation */
}

.form-sub-btn:hover {
  /* background-image: linear-gradient(90deg, #8CBE41 0%, #1C8AC9 50%, #233F77 100%); */
  background-image: linear-gradient(90deg, #233F77 4%, #1C8AC9 29%, #8CBE41 50%);
  background-position: left; /* Move gradient into view */
 /*  background-color: transparent; Ensures solid color fades into gradient */
}


.form-group label {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.4px;
  text-align: left;
  width: 270px;
  height: 18px;
  color: #233F77;
  margin-bottom: 11px;
}



.contact-maps-mainCard {
  background: #EEF9FF;
  padding: 70px 0px;
}

.contact-addresCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-addresLeft {
  width: 50%;
}

.contact-addresRight {
  width: 50%;
  height: 500px;
}

.contact-formCont {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: -5px 5px 10px 0px #0000000D;
}

.address-detailsCard {
  margin-bottom: 20px;

  h4 {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    color: #233F77;
    margin-bottom: 20px;
  }

}

.address-iconsCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;

  span {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #233F77;
    width: 70%;
  }

}

.address-iconCont {
  width: 8%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    height: 40px;
  }
}


/* mobile responsive */
@media screen and (max-width: 767px) {

  .contact-mainBg {
    height: 78vh;

    h1 {
      font-size: 28px;
      font-weight: 600;
      line-height: 36.1px;
      text-align: center;
      width: 100%;
      height: 73px;
      color: #233F77;
    }

    h4 {
      font-size: 18px;
      line-height: 26.48px;
      width: 100%;
      height: 63px;
    }

    p {
      font-size: 15px;
      line-height: 20.32px;
      width: 100%;
      height: 113px;
    }

  }

  .contact-inputBg {
    padding: 0px;
  }

  .contact-form-mainbg {
    flex-direction: column;
  }

  .contact-imageCard {
    width: 100%;
    height: 100%;
    padding-bottom: 44px;

    img {
        width: 100%;
    }
  }

  .contact-form-container {
    width: 100%;
    padding: 33px 20px;
    gap: 32px;
  }

  .contact-contInp {

    span {
        padding: 6px 13px;
        gap: 10px;
    }

    h3 {
      font-size: 22px;
      line-height: 36.8px;
      width: 100%;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h4 {
      font-size: 14px;
      line-height: 12.8px;
      text-align: left;
      width: 100%;
      height: 12px;
  }

  }

  .form-mainCont {
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 9px;
    width: 100%;
  }

  .form-sub-btn {
    width: 145.5px;
    height: 36px;
  }

  .form-group label {
    font-size: 14px;
    line-height: 18.4px;
    margin-bottom: 5px;
  }

  .form-group-message {
    label {
        font-size: 14px;
        margin-bottom: 5px;
    }
  }

  .contact-addresCont {
    flex-direction: column;
  }

  .contact-addresLeft {
    width: 100%;
    margin-bottom: 30px;
  }

  .address-detailsCard {
    h4 {
        font-size: 22px;
        margin-bottom: 11px;
    }
  }

  .address-iconsCard {

    span {
      font-size: 14px;
      width: 92%;
    }

  }

  .contact-maps-mainCard {
    padding: 53px 0px; 
  }

  .address-iconCont {
    width: 30%;
    img {
        height: 32px;
        margin-right: 12px;
    }

  }

  .contact-addresRight {
    width: 100%;
    height: 269px;
  }

}

/* tablet responsive */
@media screen and (min-width: 768px) and (max-width: 1023px) {

  .contact-form-mainbg {
    flex-direction: column;
  }

  .contact-imageCard {
    width: 100%;
    margin-bottom: 40px;

    img {
      width: 66%;
    }
     
  }

  .contact-form-container {
    width: 95%;
  }

  .contact-addresCont {
    flex-direction: column;
  }

  .contact-addresLeft {
    width: 85%;
    margin-bottom: 37px;
  }

  .address-detailsCard {
    h4 {
        font-size: 23px;
        margin-bottom: 16px;
    }
  }

  .address-iconCont {
    width: 9%;
  }

  .address-iconsCard {
    span {
        font-size: 19px;
        width: 81%;
    }
  }

  .address-iconCont {
    img {
        height: 31px;
    }
  }

  .contact-addresRight {
    width: 94%;
    height: 439px;
  }

}