.Client-mainBg-contaner {
    height: 90vh;
    background: #EEF9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    span {
      height: 40px;
      padding: 7px 30px;
      gap: 10px;
      background: linear-gradient(90deg, #233F77 0%, #1C8AC9 50%, #8CBE41 100%);
      color: #fff;
      border-radius: 10px;
    }
  
    h1 {
      font-size: 54px;
      font-weight: 600;
      line-height: 62.1px;
      text-align: center;
      width: 880px;
      height: 124px;
      color: #233F77;
  
    }
  
    h4 {
      font-size: 24px;
      font-weight: 600;
      line-height: 30.48px;
      text-align: center;
      width: 500px;
      height: 60px;
      color: #233F77;
    }
  
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 20.32px;
      text-align: center;
      width: 654px;
      height: 60px;
      color: #233F77;
    }
  
  }

.clients-mainBg {
    padding: 70px 0px;
    background: #E7EFFD;
}

.clients-titleCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        height: 40px;
        padding: 7px 30px;
        gap: 10px;
        background: linear-gradient(90deg, #233F77 0%, #1C8AC9 50%, #8CBE41 100%);
        color: #fff;
        border-radius: 10px;
    }

    h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 36.8px;
        text-align: center;
        width: 660px;
        height: 74px;
        color: #233F77;
        margin: 30px 0px;
    }

}

.clients-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.clients-indu-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 47%;
    margin: 10px 10px 50px 10px;
    border-radius: 30px;
    box-shadow: -6px 6px 10px 0px #0000001A;
}

.iconCard {
    height: 100px;
    width: 100px;
    background: #8CBE41;
    border-radius: 8px;
}

.clients-iconCard {
    background: #D1E3F6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

    h5 {
        font-size: 32px;
        font-weight: 500;
        line-height: 40.64px;
        text-align: left;
        height: 41px;
        color: #233F77;
        margin: 10px 0px 0px;
    }
}

.clients-innerCard {
    background: #234078;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;

    p {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 25.4px;
        text-align: center;
        margin: 0px;
    }

}



/* mobile responsive */
@media screen and (max-width: 767px) {

}

/* tablet responsive */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}