.privacy-mainContainer {
    background: #E7EFFD;
    padding: 70px 0px;
}

.privacy-cont-card{
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    height: 100%;

    span {
        height: 40px;
        padding: 7px 30px;
        gap: 10px;
        background: linear-gradient(90deg, #233F77 0%, #1C8AC9 50%, #8CBE41 100%);
        color: #fff;
        border-radius: 10px;
    }

    h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 36.8px;
        text-align: left;
        width: 560px;
        height: 74px;
        color: #233F77; 
        margin: 20px 0px; 
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.32px;
        text-align: left;
        color: #233F77;
    }

}

.privacy-img-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy-inner-card {
    display: flex;
    justify-content: space-around;
    align-items: self-start;
    margin-bottom: 50px;
}

.privacy-left-card {
    height: 60px;
    width: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy-righi-card {
    width: 90%;

    h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 30.48px;
        text-align: left;
        color: #233F77;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 25.4px;
        text-align: left;
        color: #233F77;
    }

}


@media screen and (max-width: 767px) {

    .privacy-mainContainer {
        padding: 70px 0px 20px;
    }

    .privacy-cont-card {
        align-items: center;

        h3 {
            font-size: 24px;
            line-height: 31.8px;
            text-align: center;
            width: 100%;
            height: 59px;
        }

        p {
            font-size: 14px;
            line-height: 20.32px;
            text-align: center;
        }

    }

    .privacy-img-card {
        
        height: 300px;
        margin-bottom: 50px;

        img {
            height: 90%;
        }

    }

    .privacy-inner-card {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .privacy-righi-card {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h4 {
            font-size: 18px;
            font-weight: 600;
            line-height: 30.48px;
            text-align: center;
        }

        p {
            font-size: 13px;
            line-height: 23.4px;
            text-align: justify;
        }

    }

}