.navbar_mainContainer {
    padding: 0px !important;
    z-index: 9 !important;
    background-color: #fff;
}

.nav_CardContainer{
    height: 100%;
}

.navbar_items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100% !important;
}

.navbar-brand {
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 21px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}


.dropdown-item {
    color: #233f77;
    font-size: 16px;
    font-weight: 600;
}

.dropdown-item.active {
    color: #233f77;
    text-decoration: none;
    background-color: #fff;
}

.nav-link {
    color: #233f77;
}

.nav-link:hover {
    color: rgb(51, 0, 170);
}

.logo {
    height: 60px;
}



.navbar-contBtn{
    background: linear-gradient(90deg, #233F77 0%, #1C8AC9 50%, #8CBE41 100%);
    height: 24px;
    border-radius: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 52px;
}

.navbar-contBtn:hover {
    color: #fff !important;
}


/* below code is hover items show the green line----start */

.navbar_items .nav-link {
    position: relative;
    transition: color 0.3s ease;
  }
  
  .navbar_items .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #5C9641; /* Line color */
    transition: all 0.4s ease;
    transform: translateX(-50%);
  }
  
  .navbar_items .nav-link:hover::before {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }
  
  .navbar_items .nav-link:hover {
    color: #1C8AC9;
  }
  /* ---end--- */


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
   color: #1C8AC9 !important;
}



/* Enable hover dropdown for 'Services' */
.navbar_mainContainer .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Adjust the margin so the dropdown is properly aligned */
  }
  
  /* Ensure the dropdown closes when not hovered */
  .dropdown-menu {
    display: none;
  }
  
  .navbar_mainContainer .dropdown-menu {
    margin-top: 10px; /* Adjust as needed */
    transition: all 0.3s ease-in-out;
  }

  


  

/* mobile responsive */
@media screen and (max-width: 767px) {

    .navbar_mainContainer {
        padding: 10px 0px 10px 0px !important;
    }

    .navbar_items {
        justify-content: flex-start;
        align-items: self-start;
        height: 100% !important;
    }   
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 6px 0px 5px 0px;
    }
    .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
        width: 100%;
    }

    .navbar-brand {
        width: 69%;
    }

    .logo {
        height: 53px;
    }

    .navbar-contBtn {
        height: 37px;
    }

}

/* medium responsive */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar_mainContainer {
        padding: 10px 0px 10px 0px !important;
    }

    .navbar_items {
        justify-content: flex-start;
        align-items: self-start;
        height: 100% !important;
    }
    .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
        width: 100%;
    }
}