.footer_mainSec {
    padding: 50px 0px 30px 0px;
}

.footer-logo {
    height: 86px;
}

.footer_aitem_align{
    display: flex;
    justify-content: start;
    align-items: self-start;
    flex-direction: column;

    h5 {
        color: #00C4FF;
        
    }
}

.footer_desc {
    width: 90%;
}

.footer_items {
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 4px 0px;
    a{
        color: #fff !important;
        text-decoration: none;
        
    }
}

.footer_items:hover a {
    color: #00C4FF !important;
}

.list-unstyled {

    li{
        margin: 10px 0px;
        a{
            text-decoration: none;
            font-size: 20px;
        }
       
    }

}

.quick-lin {
    padding-left: 40px;
}

.socila_linktit{
    margin-bottom: 20px;
    color: #00C4FF;
}
 
a {
text-decoration: none;

.footer_icons {
    background-color: #fff;
    height: 35px;
    width: 35px;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

    i {
        color: #233f77;
        font-size: 20px;
    }
}
}
.footer_icons:hover {
    background: #00C4FF !important;

    i {
        color: #233f77;
    }
}

.footer_icons:hover {
    background: #52b105;
}

.footer_icons:hover a i {
    color: #233f77;
}

.footer-copy-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-gradient {
    height: 7px;
    background: linear-gradient(90deg, #233F77 0%, #1C8AC9 50%, #8CBE41 100%);
}


.list-unstyled {

    li {
        display: flex;
        justify-content: start;
        align-items: center;

        img {
            margin-right: 10px;
        }

        span {
            font-size: 16px;
        }

    }

}
 

/* mobile responsive */
@media screen and (max-width: 767px) {

    .footer-logo {
        height: 67px;
    }

    .footer-copy-sec {
        flex-direction: column;

        p {
            font-size: 12px;
        }
    }

    .quick-lin {
        padding-left: 0px;
    }

}

/* tablet responsive */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .quick-lin {
        padding-left: 0px;
    }

    .footer-copy-sec {
        flex-direction: column;

        p {
            font-size: 12px;
            order: 2;
            margin: 0px;
        }
    }

    .footer-or-card {
        order: 1;
        margin-bottom: 15px;
    }
}