.home-contactbg {
  background: #E7EFFD;
  padding-top: 30px;
}

.home-contact-page {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -74px;
}

.home-contFooter {
  height: 100px;
  background: #152F65;
}

.home-contCard {
  width: 830px;
  height: 150px;
  padding: 20px 50px;
  gap: 0px;
  border-radius: 24px;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #234179 0%, #1C8BC9 50%, #8BBE43 100%);
}

.home-contTitle {
  font-size: 40px;
  font-weight: 600;
  line-height: 46px;
  text-align: left;
  color: #fff;
}

.home-contdesc {
  font-size: 24px;
  font-weight: 400;
  line-height: 30.48px;
  text-align: left;
  color: #fff;
}

.home-contBtn {
  width: 142px;
  height: 43px;
  padding: 0px 10px;
  gap: 10px;
  border-radius: 8px;
  background: #1C8AC9;
  border: none;
  color: #fff;
  font-size: 16px;
}

.home-contBtn{
  background: #1C8AC9; /* Initial solid background color */
  background-size: 200%; /* Prepares for the gradient transition */
  
  background-position: right; /* Position gradient off the view */
  color: white; /* Optional: Adjust text color */
  border: none; /* Optional: Remove default border */
  font-size: 16px; /* Optional: Font size for better visibility */
  transition: background-position 1.2s ease, background-color 1.2s ease; /* Smooth animation */
}

.home-contBtn:hover {
  /* background-image: linear-gradient(90deg, #8CBE41 0%, #1C8AC9 50%, #233F77 100%); */
  background-image: linear-gradient(90deg, #233F77 4%, #1C8AC9 29%, #8CBE41 50%);
  background-position: left; /* Move gradient into view */
 /*  background-color: transparent; Ensures solid color fades into gradient */
}



/* mobile responsive */
@media screen and (max-width: 767px) {

  .home-contact-page {
    width: 95%;
  }

  .home-contCard {
    width: 100%;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-contTitle {
    font-size: 23px;
    text-align: center;
    line-height: 21px;
  }

  .home-contdesc {
    font-size: 14px;
    margin: 0px;
    text-align: center;
  }

}


/* tablet responsive */
@media screen and (min-width: 768px) and (max-width: 1023px) {

  .home-contact-page {
    width: 85% !important;
  }

  .home-contTitle {
    font-size: 29px;
    line-height: 38px;
  }

  .home-contdesc {
    font-size: 16px;
    line-height: 23.48px;
  }

}