
.home-contactbg {
    background: #E7EFFD;
    padding-top: 30px;
  }
  
  .home-contact-page {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -74px;
  }
  
  .home-contFooter {
    height: 100px;
    background: #152F65;
  }
  
  .home-contCard {
    width: 830px;
    height: 150px;
    padding: 20px 50px;
    gap: 0px;
    border-radius: 24px;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #234179 0%, #1C8BC9 50%, #8BBE43 100%);
  }
  
  .home-contTitle {
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    text-align: left;
    color: #fff;
  }
  
  .home-contdesc {
    font-size: 24px;
    font-weight: 400;
    line-height: 30.48px;
    text-align: left;
    color: #fff; 
  }
  
  .home-contBtn {
    width: 142px;
    height: 43px;
    padding: 0px 10px;
    gap: 10px;
    border-radius: 8px;
    background: #1C8AC9;
    border: none;
    color: #fff;
    font-size: 16px;
  }