body {
    background-color: #E7EFFD;
}

/* Colorize-zoom Container */
img {
    transition: transform .7s, filter 1.5s ease-in-out;
  }
  
  /* The Transformation */
img:hover {
    transform: scale(1.05);
  }
